body{
    font-family: "Times New Roman";
    margin: 20px;
}

.container{
    border: 3px solid black;
    padding: 20px;
    background-color: #EED5D2;
}

/* KHUNG GIỚI THIỆU */
.gioithieu{
    border: 4px double black;
    padding: 10px;
    display: flex;
    background-color: skyblue
}

/* PHẦN CÓ MÀU BÊN TRONG KHUNG */
.noidung{
    flex: 1;
    background-color: skyblue;
    padding: 10px;
}

.gioithieu img{
    width: 140px;
    height: 190px;
    margin-right: 20px; 
}

/* KHUNG THÔNG TIN CHI TIẾT */
.thongtin{
    margin-top: 20px;
    border: 3px double black;
    padding: 10px;
}

/* CHỈ PHẦN BẢNG CÓ MÀU */
table{
    border-collapse: collapse;
    margin-top: 10px;
    border: 4px double black;
    background-color: skyblue;
}

/* Ô TRONG BẢNG */
table th,
table td{
    border: 3px double black;
    padding: 8px 12px;
    text-align: left;
}