body{
    font-family: "Times New Roman";
    margin: 20px;
}

.container{
    border: 3px solid black;
    padding: 20px;
}

.gioithieu{
    border: 1px solid gray;
    padding: 10px;
    display: flex;
}

.gioithieu img{
    width: 140px;
    height: 190px;
    margin-right: 20px;
}

.noidung{
    flex: 1;
}

/* PHẦN THÔNG TIN CHI TIẾT */
.thongtin{
    margin-top: 20px;
}

/* BẢNG 2 ĐƯỜNG VIỀN */
table{
    border-collapse: collapse;
    margin-top: 10px;
    border: 3px double black;
}

/* Ô TRONG BẢNG */
table th,
table td{
    border: 3px double black;
    padding: 8px 12px;
    text-align: left;
}