.product-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    align-items:stretch;
}


.product{
    background:white;
    border-radius:15px;
    padding:15px;
    height:520px;          /* tất cả khung bằng nhau */
    display:flex;
    flex-direction:column;

    box-shadow:0 5px 15px #ccc;
    transition:0.3s;
}


.product img{
    width:100%;
    height:200px;          /* ảnh bằng nhau */
    object-fit:cover;
    border-radius:12px;
}


.product-info{
    flex:1;
    display:flex;
    flex-direction:column;
}


.product-info p{
    height:80px;           /* mô tả bằng nhau */
}


.product-info .btn-info{
    margin-top:auto;       /* nút luôn ngang nhau */
}